################################################################################
# Zig
################################################################################
.zig-cache/
zig-out/

################################################################################
# VS Code
################################################################################
/.vscode/

################################################################################
# JavaScript
################################################################################
node_modules/

################################################################################
# ZigraphQL
################################################################################
/references/
.DS_Store
